@charset "UTF-8";
#top {
	background: yellow; 
	border : none;
	width: 480px;
	height: 117px;
	/* position:fixed; */
}
ul {
	list-style: none;
	/* margin-right: 20px; */
	float: left;
	display: inline;
}


#top2 {
	background: gray; 
	border : none;
	width: 480px;
	height: 383px;
	top: 117px;
	left: 0px;
	border: none;
	/* position:fixed; */
}

table {
	border-collapse: collapse;
	width: 100%;
}

ol {
	list-style: none;
}

#li1 {
	
}

.ol {
	float: left;
	display: inline;
	margin-right: 20px;
}

#li2 {
	
}

#li3 {
	border-left: 1px solid black;
	padding-left: 10px;
}
#atop2 {
	color: black;
	text-decoration: none;
}

#top3 {
	background: lightgreen; 
	border : none;
	width: 480px;
	height: 50px;
	top: 500px;
	border: none;
	position:fixed;
	text-align: center;
	border-top-color: #f5f5f5
}
#atop3 {
	color: black;
	text-decoration: none;
}